{% extends 'base.html' %}


{% block content %}
<div class="row justify-content-center">
   <div class="col-2">
      <form action="/auth/register" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
         <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username">
            <div id="registerHelp" class="form-text">Already have an account? <a href="/auth/login">Sign in</a> instead.</div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" id="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password">
          </div>
          <div class="mb-3">
            <label for="password-again" class="form-label">Password (again)</label>
            <input type="password" name="password-again" class="form-control" id="password-again">
          </div>
          <div class="row justify-content-center">
             <div class="col-4">
               <button type="submit" class="btn btn-primary">Sign up</button>
             </div>
          </div>
      </form>
   {% include 'errors.html' %}
   </div>
</div>
{% endblock content %}
